:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background-color: var(--bg);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
.logo img {
  width: 60px;
  height: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
}
.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a {
  margin: 0.8rem;
  font-size: 1.8rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.2rem solid var(--main-color);
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 1 3rem;
  font-size: 1 7rem;
  cursor: pointer;
}

.home-container {
  color: #fff;
  padding-top: 10rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem; /* ADICIONADO */
  padding-right: 2rem; /* ADICIONADO */
}
.home-container section {
  display: flex;
  align-items: center;
  min-height: 50vh;
}

.home .content {
  max-width: 60rem;
  text-align: left; /* ALTERADO (era center) */
}

.content {
  max-width: 60rem;
  text-align: left; /* ADICIONADO */
}

.content h3 {
  color: #fff;
  font-size: 5rem;
  text-align: left; /* ADICIONADO */
}
.content p {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.5;
  padding: 1rem 0;
  text-align: left;
}
.icons img:hover {
  width: 40px;
  height: 40px;
}

.btn {
  background: var(--main-color);
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
}
.home-container {
  background: url("");
  height: 100vh;
  text-align: eft;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 10rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
  background-color: rgba(0, 0, 0, 0.5); /* Mais transparente */
  backdrop-filter: blur(10px);
}
